<header>
  <link rel="stylesheet" href="/styles/header.css">
  <div class="header">
    <div class="header-container">
      
      <img class="logo" src="https://docs.google.com/drawings/d/e/2PACX-1vSdQFOyS15fG75B6wmM4j2Ab9qSed40VM4pvxZbELhvdvnqxCPoO4z0W3p6uHAxOCOqfuUCHViik9ls/pub?w=1232&h=388">

    </div>

    <div class="header-container">
      
      <img class="user" src="https://docs.google.com/drawings/d/e/2PACX-1vS-PvJwev-pyUAfQLBzOTMmECf6gs2Xc1qhVj0NgaImmveABjHlidL10Gq4wlp3vIbk83pyyaKeuk7s/pub?w=871&h=855">

    </div>    
  </div>
</header>