<link rel="stylesheet" href="styles/nav.css">
<nav>
    <div class="nav">
        <img class="logo" src="https://docs.google.com/drawings/d/e/2PACX-1vSdQFOyS15fG75B6wmM4j2Ab9qSed40VM4pvxZbELhvdvnqxCPoO4z0W3p6uHAxOCOqfuUCHViik9ls/pub?w=821&h=162">
    </div>
</nav>