<nav>
  <div class="nav-bar">

    <div class="nav-section">

      <%# Home Navigation%>
      <div class="nav-option">
        <img class="option-icon" src="https://docs.google.com/drawings/d/e/2PACX-1vS1BMSx67uBlZ7IyrWspKjm7mkJXBhssLeCsAEClVlGE6poaPrwa7yLlqHY6pAqv_UcGA0wdbgNA-LS/pub?w=567&h=549">
        <p class="option-text">Home</p>
      </div>  

      <%# Groups Navigation %>
      <div class="nav-option">
        <img class="option-icon" src="https://docs.google.com/drawings/d/e/2PACX-1vRtuMgB4HNcqZqrTh7o5v0gUU1C7f7dhqfLJItYdN3636BFMhqhOffujkS4vTxxOX1-5q6feJIAml6o/pub?w=378&h=366">
        <p class="option-text">Collections</p>
      </div>  

      <%# Upcoming Navigation %>
      <div class="nav-option">
        <img class="option-icon" src="https://docs.google.com/drawings/d/e/2PACX-1vQMOumASeMfHZOT4exxOpe-dcnYwb_97AIWtThKPBi1-TQt0kfUu8HTTCUMKbJm7el0YtYFYRJotmK5/pub?w=567&h=549">
        <p class="option-text">Upcoming Tasks</p>
      </div>  

    </div>


    <div class="nav-section">

      <%# Settings Navigation%>
      <div class="nav-option">
        <img class="option-icon" src="https://docs.google.com/drawings/d/e/2PACX-1vSsXArMqVziwogbAKmf8W3EQzbbh7Aq_AV2_EbW19i2j0X1CCaS7Ala0pYxIJLBym_1XH5a9tjnrgqV/pub?w=426&h=422">
        <p class="option-text">Settings</p>
      </div>   

    </div>

    
    
    

   
  </div>
  
  <div class="overlay"></div>
</nav>