<link rel="stylesheet" href="styles/nav.css">
<nav>
    <div class="nav">
        <img class="logo" src="https://docs.google.com/drawings/d/e/2PACX-1vSdQFOyS15fG75B6wmM4j2Ab9qSed40VM4pvxZbELhvdvnqxCPoO4z0W3p6uHAxOCOqfuUCHViik9ls/pub?w=821&h=162">
    </div>
    <div class="sidebar">
        <div class="sidebar-div">
            <button class="sidebar-btn">
                <i class="fa-solid fa-book"></i>
            </button>
            <p class="sidebar-btn-text"> Classes </p>
        </div>
        <div class="sidebar-div">
            <button class="sidebar-btn">
                <i class="fa-solid fa-layer-group"></i>
            </button>
            <p class="sidebar-btn-text"> Collections </p>
        </div>
        <div class="sidebar-div">
            <button class="sidebar-btn">
                <i class="fa-solid fa-list-check"></i>
            </button>
            <p class="sidebar-btn-text"> Tasks </p>
        </div>
        <div class="flex-space-fill"></div>
        <div class="sidebar-div">
            <button class="sidebar-btn">
                <i class="fa-solid fa-gear"></i>
            </button>
            <p class="sidebar-btn-text"> Settings </p>
        </div>
        <div class="sidebar-div">
            <button class="sidebar-btn">
                <i class="fa-solid fa-user"></i>
            </button>
            <p class="sidebar-btn-text"> Account </p>
        </div>
    </div>
</nav>