<html lang="en">

<!-- Generic Page Components -->
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<!-- Unique Page Components -->
<body>
  <div class="not-found content">
    OOPS, page not found :)
  </div>
</body>
</html>