<html lang="en">

  <!-- Generic Page Components -->
  <%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs") %>
  <%- include("./partials/header.ejs") %>

  <!-- Semi-Generic Page Components -->
  <h2 class="page-header">
    <p class="page-title">Assignments</p>
    <input type="text" class="search-bar" placeholder="Search for an Assignment">
  </h2>

  <!-- Unique Generated Page Components -->
  <body>
    <p>**ADD CONTENT**</p>
  </body>

</html>