<html lang="en">

  <!-- Generic Page Components -->
  <%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs") %>
  <%- include("./partials/header.ejs") %>

  <!-- Semi-Generic Page Components -->
  <h2 class="page-header">
    <div class="page-head-container">
      <div class="page-title">All Classes</div>
      <button class="create-button">
        <div class="create-symbol">+</div>
        <div class="create-text">Create Class</div>
      </button>
    </div>
    
    <input type="text" class="search-bar" placeholder="Search for a Class">
  </h2>

  <!-- Unique Generated Page Components -->
  <body>
    <p>**ADD CONTENT**</p>
  </body>

</html>