<html lang="en">

<!-- Generic Page Components -->
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>

<!-- Semi-Generic Page Components -->
<h2 class="page-header">
  <p class="page-title">Settings</p>
</h2>

<!-- Unique Page Components -->
<body>
  <div>
    **SETTINGS PAGE**
  </div>
</body>
</html>