#page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-grey-color);
    flex-shrink: 0;
}

.content-list {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 0.5rem;
    overflow: scroll;
}

#add-course-btn {
    max-width: 10rem;
    width: 100%;
    max-height: 80% 
}

#add-course-btn:hover {
    background-color: var(--gradestar-purple2-color);
    cursor: pointer;
}