*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-grey-color);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(80, 10, 150);
}

.form-container {
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(170,170,170) ;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 12%;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px 0px;
}

.err-text {
    color: rgb(175, 0, 0);
    font-weight: 300;
    font-size: 10px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #472dbb;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px;
}

.subtext {
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #4565a0;
}

.inputErr {
    background-color: rgb(255, 170, 170);
}

.centered {
    text-align: center;
}

a {
    font-size: 12px;
}

.input-bar {
    position: relative;
}

.req-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-height: 20px;
    transition: max-height 1s ease;
}

.shrink {
    max-height: 0px;
    overflow: hidden;
}

.req-box i {
    font-size: 8px;
    margin-right: 3px;
}

.fa-solid.fa-circle-check {
    color:#009700;
}

.fa-eye:hover, .fa-eye-slash:hover {
    color: #a08bff;
    cursor: pointer;
}

.input-bar .fa-solid {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.password-req {
    padding-left: 5px;
    border-width: 0px;
}

.highlight {
    border-color: red;
    border-style: solid;
}

.satisfied {
    color:#009700;
    font-weight: 300;
    font-size: 10px;
}

.req-box {
    margin: 0px;
    border-width: 0px;
    padding: 0px
}

/* NEW STYLES */

/* COLOURS */
:root {
    --gradestar-purple1-color: #391a71;
    --gradestar-purple2-color: #7c4cd4;
    --hover-grey-color: #e9e9e9;
    --text-grey-color: #6b7280;
    --background-grey-color: #f1f1f1;
}

.selectable-btn {
    color: #7f7f7f;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: white;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.selectable-btn.selected {
    color: white;
    background-color: var(--gradestar-purple1-color);
}

.selectable-btn.selected:hover {
    color: white;
    background-color: var(--gradestar-purple2-color);
}

.selectable-btn:hover {
    cursor: pointer;
    color: var(--gradestar-purple1-color);
    background-color: var(--hover-grey-color);
}

.selectable-btn:active {
    cursor: pointer;
    color: white;
    background-color: var(--gradestar-purple1-color);
}

.spacer {
    flex: 1 1 auto;
    list-style: none;
}