body {
    background-color: white;
}

.class-div {
    align-items: center;
    width: calc(100% - 30px);
    border-radius: 20px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
}

.class-text-div, .class-grade-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-grade-div {
    margin: 15px;
    margin-right: 15px;
    border-right: solid 1px #777777;
}

.class-title {
    font-size: 30px;
    font-weight: 700;
}

.class-code {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: #555555;
}


.pct-wheel {
    border: solid 5px green;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 12px;

}

.fixed-content {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 15px 0px 25px;
    position: fixed;
    right: 15px;
    left: 90px;
    top: 80px;
    bottom: 0px;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.scroll-content::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

.scroll-content::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 20px, 20px;
}

/* Handle */
.scroll-content::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgb(200,200,200); 
}

/* Handle on hover */
.scroll-content::-webkit-scrollbar-thumb:hover {
  background: #a08bff; 
}

.red {
    background-color: rgb(255,179,186);
}

.orange {
    background-color: rgb(255,223,186);
}

.green {
    background-color: rgb(186,255,201);
}

.blue {
    background-color: rgb(186,225,255);
}

.teal {
    background-color: rgb(193,255,250);
}