#nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#nav-header {
    flex: 0 0 auto;
}

.nav-div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    flex-direction: column;
    background-color: var(--gradestar-purple1-color);
}

.scaleable {
    flex: 1 1 auto;
}

.nav-div .selectable-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 0.75rem;
    padding: 0.75rem;
}

#nav #logo {
    width: 90%;
    padding: 0.5rem 1rem 0.5rem 0rem;
}